*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration-line: none;
    color: black;
}

.headers-navigation-list {
display: block;
width: fit-content;
padding: 25x 0;
margin: 0 auto;
}

.headers-navigation-item {
    display: inline-block;
    margin: 0 72px;
    margin-top: 32px;

    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
}

.img-center {
    margin-top: 32px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 88px;
}

p {
    display: block;
    width: 856px;
    margin: 40px auto;
    font-weight: 600;
    font-size: 21px;
    line-height: 150%;
}

span {
    color: #04959E;
}

ol {
    display: block;
    width: 856px;
    margin: 24px auto;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

button {
    border: none;
    display: block;
    padding: 10px 24px;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 145px;
    background-color: #04959E;
    color: #fff;
    line-height: 135%;
}

.line {
    height: 3px;
    background-color: #04959E;
    margin-top: 35px;
}

.text {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}